<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BandCollab</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BandCollab</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= account %> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1><%= songData.name %> - <%= songData.author %></h1>
            <p>Key: <%= songData.skey %> BPM: <%= songData.bpm %></p>
            <% if (songData.leadpart !== "") { %>
                <h3>Lead</h3>
                <audio controls id="lead"><source src='<%= songData.leadpart %>'></audio>
                <br />
            <% } %>
            <% if (songData.rhythmpart !== "") { %>
                <h3>Rhythm</h3>
                <audio controls id="rhythm"><source src='<%= songData.rhythmpart %>'></audio>
                <br />
            <% } %>
            <% if (songData.drumpart !== "") { %>
                <h3>Drums</h3>
                <audio controls id="drum"><source src='<%= songData.drumpart %>'></audio>
                <br />
            <% } %>
            <% if (songData.basspart !== "") { %>
                <h3>Bass</h3>
                <audio controls id="bass"><source src='<%= songData.basspart %>'></audio>
                <br />
            <% } %>
            <br />
            <button id="play">Play</button>
            <button id="pause">Pause</button>
            <button id="restart">Restart</button>
            <button id="back"><- 5</button>
            <button id="forward">5 -></button>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- jQuery Version 1.11.1 -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<script>
    var playbutton = document.getElementById("play");
    var pausebutton = document.getElementById("pause");
    var restartbutton = document.getElementById("restart");
    var backbutton = document.getElementById("back");
    var forwardbutton = document.getElementById("forward");
    var laudio = document.getElementById("lead");
    var raudio = document.getElementById("rhythm");
    var daudio = document.getElementById("drum");
    var baudio = document.getElementById("bass");
    playbutton.onclick = function () {
        try {
            laudio.play();
        }
        catch (err) {}
        try {
            raudio.play();
        }
        catch (err) {}
        try {
            daudio.play();
        }
        catch (err) {}
        try {
            baudio.play();
        }
        catch (err) {}
    }
    pausebutton.onclick = function () {
        try {
            laudio.pause();
        }
        catch (err) {}
        try {
            raudio.pause();
        }
        catch (err) {}
        try {
            daudio.pause();
        }
        catch (err) {}
        try {
            baudio.pause();
        }
        catch (err) {}
    }
    restartbutton.onclick = function () {
        try {
            laudio.currentTime = 0;
        }
        catch (err) {}
        try {
            raudio.currentTime = 0;
        }
        catch (err) {}
        try {
            daudio.currentTime = 0;
        }
        catch (err) {}
        try {
            baudio.currentTime = 0;
        }
        catch (err) {}
    }
    backbutton.onclick = function () {
        try {
            laudio.currentTime -= 5;
        }
        catch (err) {}
        try {
            raudio.currentTime -= 5;
        }
        catch (err) {}
        try {
            daudio.currentTime -= 5;
        }
        catch (err) {}
        try {
            baudio.currentTime -= 5;
        }
        catch (err) {}
    }
    forwardbutton.onclick = function () {
        try {
            laudio.currentTime += 5;
        }
        catch (err) {}
        try {
            raudio.currentTime += 5;
        }
        catch (err) {}
        try {
            daudio.currentTime += 5;
        }
        catch (err) {}
        try {
            baudio.currentTime += 5;
        }
        catch (err) {}
    }
</script>

</body>

</html>